# Skupine

### Predpriprava

In [1]:
# naložimo paket
import pandas as pd

# naložimo razpredelnico, s katero bomo delali
filmi = pd.read_csv('filmi.csv', index_col='id')

# ker bomo delali z velikimi razpredelnicami, povemo, da naj se vedno izpiše le 20 vrstic
pd.options.display.max_rows = 20

### Skupine

Z metodo `.groupby` ustvarimo razpredelnico posebne vrste, v katerem so vrstice združene glede na skupno lastnost.

In [2]:
filmi_po_letih = filmi.groupby('leto')

In [3]:
# povprečna ocena vsakega leta
filmi_po_letih['ocena'].mean()

leto
1921    8.300000
1922    8.000000
1925    8.200000
1926    8.200000
1927    8.300000
1931    8.500000
1933    8.000000
1934    8.200000
1936    8.600000
1937    7.700000
          ...
2007    6.844628
2008    6.635897
2009    6.727200
2010    6.703333
2011    6.676515
2012    6.732743
2013    6.774815
2014    6.819048
2015    6.885185
2016    6.687097
Name: ocena, dtype: float64

In [4]:
# če želimo, lahko združujemo tudi po izračunanih lastnostih
filmi['desetletje'] = 10 * (filmi.leto // 10)
filmi

,naslov,leto,dolzina,ocena,opis,desetletje
id,,,,,,
111161,The Shawshank Redemption,1994,142,9.3,Two imprisoned men bond over a number of years...,1990
468569,The Dark Knight,2008,152,9.0,When the menace known as the Joker wreaks havo...,2000
1375666,Inception,2010,148,8.8,"A thief, who steals corporate secrets through ...",2010
137523,Fight Club,1999,139,8.8,"An insomniac office worker, looking for a way ...",1990
110912,Pulp Fiction,1994,154,8.9,"The lives of two mob hit men, a boxer, a gangs...",1990
109830,Forrest Gump,1994,142,8.8,"Forrest Gump, while not intelligent, has accid...",1990
120737,The Lord of the Rings: The Fellowship of the Ring,2001,178,8.8,A meek Hobbit from the Shire and eight compani...,2000
133093,The Matrix,1999,136,8.7,A computer hacker learns from mysterious rebel...,1990
167260,The Lord of the Rings: The Return of the King,2003,201,8.9,Gandalf and Aragorn lead the World of Men agai...,2000
68646,The Godfather,1972,175,9.2,The aging patriarch of an organized crime dyna...,1970
...,...,...,...,...,...,...
327162,The Stepford Wives,2004,93,5.2,"What does it take to become a Stepford wife, a...",2000
317303,Daddy Day Care,2003,92,5.5,Two men get laid off and have to become stay-a...,2000
61811,In the Heat of the Night,1967,109,8.0,An African American police detective is asked ...,1960
91419,Little Shop of Horrors,1986,94,6.9,A nerdy florist finds his chance for success a...,1980
1583420,Larry Crowne,2011,98,6.1,"After losing his job, a middle-aged man reinve...",2010
190865,Vertical Limit,2000,124,5.9,"A climber must rescue his sister on top of K2,...",2000
297284,Mindhunters,2004,106,6.4,Trainees in the FBI's psychological profiling ...,2000
2390361,Enough Said,2013,93,7.1,A divorced woman who decides to pursue the man...,2010
267626,K-19: The Widowmaker,2002,138,6.7,When Russia's first nuclear submarine malfunct...,2000
53779,La Dolce Vita,1960,174,8.1,A series of stories following a week in the li...,1960

In [5]:
filmi_po_desetletjih = filmi.groupby('desetletje')

Preštejemo, koliko filmov je bilo v vsakem desetletju. Pri vsakem stolpcu dobimo iste številke, ker imamo v vsakem stolpcu enako vnosov. Če bi kje kakšen podatek manjkal, bi bila številka manjša.

In [6]:
filmi_po_desetletjih.count()

            naslov  leto  dolzina  ocena  opis
desetletje
1920             5     5        5      5     5
1930             9     9        9      9     9
1940            20    20       20     20    20
1950            35    35       35     35    35
1960            52    52       52     52    52
1970            68    68       68     68    68
1980           183   183      183    183   183
1990           435   435      435    435   434
2000           975   975      975    975   975
2010           717   717      717    717   716

Če želimo dobiti le število članov posamezne skupine, uporabimo metodo `.size()`. V tem primeru dobimo le stolpec, ne razpredelnice.

In [7]:
filmi_po_desetletjih.size()

desetletje
1920      5
1930      9
1940     20
1950     35
1960     52
1970     68
1980    183
1990    435
2000    975
2010    717
dtype: int64

Pogledamo povprečja vsakega desetletja. Dobimo povprečno oceno, povprečno dolžino in povprečno leto (torej povprečno leto izdaje vsakega filma v danem desetletju – vidimo, da je bilo v vseh desetletjih razen v petdesetih več boljših filmov v prvi polovici). Povprečnega naslova ne dobimo, ker se ga ne da izračunati, zato ustreznega stolpca ni.

In [8]:
filmi_po_desetletjih.mean()

                   leto     dolzina     ocena
desetletje
1920        1924.200000   92.800000  8.200000
1930        1935.444444  114.444444  8.222222
1940        1943.300000  106.100000  8.100000
1950        1954.600000  109.028571  8.091429
1960        1964.365385  128.769231  7.921154
1970        1975.323529  120.382353  7.750000
1980        1985.404372  111.136612  7.340984
1990        1995.503448  115.349425  6.991724
2000        2005.066667  111.705641  6.784821
2010        2012.474198  112.121339  6.753278