# Nadaljnje delo s knjižnico Pandas

Spodaj je pregled naprednejših metod, ki jih ponuja knjižnica Pandas. Vsaka od naštetih metod ponuja še cel kup dodatnih možnosti, ki so natančno opisane v [uradni dokumentaciji](http://pandas.pydata.org/pandas-docs/stable/). Z branjem dokumentacije se vam seveda najbolj splača začeti pri [uvodih](http://pandas.pydata.org/pandas-docs/stable/tutorials.html).

### Predpriprava

In [1]:
# naložimo paket
import pandas as pd

# naložimo razpredelnice, s katero bomo delali
filmi = pd.read_csv('filmi.csv', index_col='id')
dolocitve_zanra = pd.read_csv('dolocitve_zanra.csv')
rotten = pd.read_csv('rotten.csv', index_col='id')

# ker bomo delali z velikimi razpredelnicami, povemo, da naj se vedno izpiše le 16 vrstic in stolpcev
pd.options.display.max_rows = 15
pd.options.display.max_columns = 16

In [2]:
filmi

                                      naslov  leto  ocena
id
6631                    An Enemy to the King  1916    8.2
9544                                 Revenge  1918    7.7
10323            The Cabinet of Dr. Caligari  1920    8.1
12190    The Four Horsemen of the Apocalypse  1921    7.9
12349                                The Kid  1921    8.4
12364                   The Phantom Carriage  1921    8.1
12532                   Orphans of the Storm  1921    7.9
...                                      ...   ...    ...
5311546                            Natsamrat  2016    9.5
5320522                      Monsoon Mangoes  2016    8.6
5330596         GARAKOWA - Restore the World  2016    8.0
5334470                            Proximity  2016    9.7
5334704       Twin Peaks: The Missing Pieces  2014    8.2
5340534                         Express Raja  2016    8.0
5341670                 The Stones of Okella  2015    9.8

[2831 rows x 3 columns]

In [3]:
dolocitve_zanra

         film       zanr
0        6631  adventure
1        6631    history
2        9544    western
3       10323     horror
4       10323    mystery
5       12190      drama
6       12190    romance
...       ...        ...
8089  5341670     comedy
8090  5341670      drama
8091  5341670    fantasy
8092  5341670      music
8093  5341670    mystery
8094  5341670    romance
8095  5341670   thriller

[8096 rows x 2 columns]

Razpredelnice združujemo s funkcijo `merge`, ki vrne razpredelnico vnosov iz obeh tabel, pri katerih se vsi podatki ujemajo.

In [4]:
pd.merge(filmi, rotten)

Empty DataFrame
Columns: [naslov, leto, ocena]
Index: []

Ker noben film iz obeh razpredelnic nima ujemajočega naslova, leta in ocene, je združena tabela seveda prazna. Če želimo, lahko tabele združimo le po določenem stolpcu.

In [5]:
pd.merge(filmi, rotten, on='naslov')

                              naslov  leto_x  ocena_x  leto_y  ocena_y
0                Battleship Potemkin    1925      8.0    1925      100
1                      The Gold Rush    1925      8.3    1925      100
2                         Metropolis    1927      8.3    1927       99
3                         Metropolis    1927      8.3    2002       87
4                        The General    1926      8.3    1927       93
5     All Quiet on the Western Front    1930      8.1    1930       98
6                        City Lights    1931      8.6    1931       98
..                               ...     ...      ...     ...      ...
274                        Anomalisa    2015      7.6    2015       96
275  The Tale of the Princess Kaguya    2013      8.1    2014      100
276                       Wild Tales    2014      8.2    2015       95
277            When Marnie Was There    2014      7.8    2015       89
278                The Hateful Eight    2015      8.1    2015       74
279                      The Martian    2015      8.1    2015       93
280                  Bridge of Spies    2015      7.8    2015       91

[281 rows x 5 columns]

Kot vidimo, se je film Metropolis iz leta 1927 združil s tistim iz leta 2002, kar ni v redu. Združevati moramo tako po naslovu kot po letu. Ker se zapis naslova filma v razpredelnicah lahko razlikuje, ne združimo vseh ustreznih vnosov. V vzorčni projektni nalogi je opisano tudi, kako storimo to.

In [6]:
pd.merge(filmi, rotten, on=['naslov', 'leto'])

                             naslov  leto  ocena_x  ocena_y
0               Battleship Potemkin  1925      8.0      100
1                     The Gold Rush  1925      8.3      100
2                        Metropolis  1927      8.3       99
3    All Quiet on the Western Front  1930      8.1       98
4                       City Lights  1931      8.6       98
5                           Dracula  1931      7.6       91
6                      Frankenstein  1931      8.0      100
..                              ...   ...      ...      ...
243                       Gone Girl  2014      8.2       88
244        The Grand Budapest Hotel  2014      8.1       92
245                          Frozen  2013      7.6       89
246                       Anomalisa  2015      7.6       96
247               The Hateful Eight  2015      8.1       74
248                     The Martian  2015      8.1       93
249                 Bridge of Spies  2015      7.8       91

[250 rows x 4 columns]

Stolpec z oceno se pojavi v obeh razpredelnicah, zatu vsakemu od njiju funkcija doda enolično končnico, da ju lahko ločimo. To končnico lahko določimo tudi sami.

In [7]:
pd.merge(filmi, rotten, on=['naslov', 'leto'], suffixes=('_imdb', '_rotten'))

                             naslov  leto  ocena_imdb  ocena_rotten
0               Battleship Potemkin  1925         8.0           100
1                     The Gold Rush  1925         8.3           100
2                        Metropolis  1927         8.3            99
3    All Quiet on the Western Front  1930         8.1            98
4                       City Lights  1931         8.6            98
5                           Dracula  1931         7.6            91
6                      Frankenstein  1931         8.0           100
..                              ...   ...         ...           ...
243                       Gone Girl  2014         8.2            88
244        The Grand Budapest Hotel  2014         8.1            92
245                          Frozen  2013         7.6            89
246                       Anomalisa  2015         7.6            96
247               The Hateful Eight  2015         8.1            74
248                     The Martian  2015         8.1            93
249                 Bridge of Spies  2015         7.8            91

[250 rows x 4 columns]

V osnovi vsebuje združena razpredelnica le tiste vnose, ki se pojavijo v obeh tabelah. Temu principu pravimo notranji stik (_inner join_). Lahko pa se odločimo, da izberemo tudi tiste vnose, ki imajo podatke le v levi tabeli (_left join_), le v desni tabeli (_right join_) ali v vsaj eni tabeli (_outer join_). Če v eni tabeli ni vnosov, bodo v združeni tabeli označene manjkajoče vrednosti. Ker želimo svojim filmom dodati morebitno oceno s strani Rotten Tomatoes, bomo izbrali levi stik.

In [8]:
pd.merge(filmi, rotten, on=['naslov', 'leto'], suffixes=('_imdb', '_rotten'), how='left')

                                   naslov  leto  ocena_imdb  ocena_rotten
0                    An Enemy to the King  1916         8.2           NaN
1                                 Revenge  1918         7.7           NaN
2             The Cabinet of Dr. Caligari  1920         8.1           NaN
3     The Four Horsemen of the Apocalypse  1921         7.9           NaN
4                                 The Kid  1921         8.4           NaN
5                    The Phantom Carriage  1921         8.1           NaN
6                    Orphans of the Storm  1921         7.9           NaN
...                                   ...   ...         ...           ...
2824                            Natsamrat  2016         9.5           NaN
2825                      Monsoon Mangoes  2016         8.6           NaN
2826         GARAKOWA - Restore the World  2016         8.0           NaN
2827                            Proximity  2016         9.7           NaN
2828       Twin Peaks: The Missing Pieces  2014         8.2           NaN
2829                         Express Raja  2016         8.0           NaN
2830                 The Stones of Okella  2015         9.8           NaN

[2831 rows x 4 columns]

Pogosto si želimo razpredelnico združiti z drugo razpredelnico glede na ključe. V tem primeru uporabimo metodo `join` (ki v ozadju uporablja `merge`).

In [9]:
dolocitve_zanra.join(filmi, on='film')

         film       zanr                               naslov  leto  ocena
0        6631  adventure                 An Enemy to the King  1916    8.2
1        6631    history                 An Enemy to the King  1916    8.2
2        9544    western                              Revenge  1918    7.7
3       10323     horror          The Cabinet of Dr. Caligari  1920    8.1
4       10323    mystery          The Cabinet of Dr. Caligari  1920    8.1
5       12190      drama  The Four Horsemen of the Apocalypse  1921    7.9
6       12190    romance  The Four Horsemen of the Apocalypse  1921    7.9
...       ...        ...                                  ...   ...    ...
8089  5341670     comedy                 The Stones of Okella  2015    9.8
8090  5341670      drama                 The Stones of Okella  2015    9.8
8091  5341670    fantasy                 The Stones of Okella  2015    9.8
8092  5341670      music                 The Stones of Okella  2015    9.8
8093  5341670    mystery                 The Stones of Okella  2015    9.8
8094  5341670    romance                 The Stones of Okella  2015    9.8
8095  5341670   thriller                 The Stones of Okella  2015    9.8

[8096 rows x 5 columns]

Enako bi lahko dosegli s funkcijo `merge`, vendar bi poprej razpredelnici `filmi` morali stolpec `id` iz indeksa pretvoriti v običajni stolpec. Ker razpredelnici nimata enako poimenovanih stolpcev, moramo posebej povedati, katere leve stolpce združimo s katerimi desnimi.

In [10]:
pd.merge(dolocitve_zanra, filmi.reset_index(), left_on='film', right_on='id')

,film,zanr,id,naslov,leto,ocena
0,6631,adventure,6631,An Enemy to the King,1916,8.2
1,6631,history,6631,An Enemy to the King,1916,8.2
2,9544,western,9544,Revenge,1918,7.7
3,10323,horror,10323,The Cabinet of Dr. Caligari,1920,8.1
4,10323,mystery,10323,The Cabinet of Dr. Caligari,1920,8.1
5,12190,drama,12190,The Four Horsemen of the Apocalypse,1921,7.9
6,12190,romance,12190,The Four Horsemen of the Apocalypse,1921,7.9
...,...,...,...,...,...,...
8089,5341670,comedy,5341670,The Stones of Okella,2015,9.8
8090,5341670,drama,5341670,The Stones of Okella,2015,9.8
8091,5341670,fantasy,5341670,The Stones of Okella,2015,9.8
8092,5341670,music,5341670,The Stones of Okella,2015,9.8
8093,5341670,mystery,5341670,The Stones of Okella,2015,9.8
8094,5341670,romance,5341670,The Stones of Okella,2015,9.8
8095,5341670,thriller,5341670,The Stones of Okella,2015,9.8

Z združeno tabelo lahko izračunamo tudi povprečno oceno glede na žanr, ali pa priljubljenost žanrov.

In [11]:
dolocitve_zanra.join(filmi, on='film').groupby('zanr').mean().sort_values('ocena')

                     film         leto     ocena
zanr
film_noir    65249.118812  1948.024752  7.447525
western     494048.964824  1971.231156  7.616080
sport      1167944.170854  1993.492462  7.677889
horror     1470035.184466  1988.597087  7.795631
animation  1068058.095436  1995.348548  7.863071
sci_fi     1137586.601852  1994.944444  7.875000
crime       784269.250000  1978.234513  7.915044
...                   ...          ...       ...
family     1250228.804954  1990.402477  8.016099
drama       993725.438799  1985.636836  8.024307
romance     864910.487759  1980.374765  8.024670
musical     865819.724891  1981.414847  8.034061
history    1045136.596838  1989.114625  8.048617
war         436726.504237  1977.046610  8.085169
comedy     1096471.700565  1988.912429  8.086723

[21 rows x 3 columns]

Poglejmo, kako popularni so bili posamezni žanri skozi desetletja. Najprej vsakemu filmu dodajmo še stolpec z desetletjem.

In [12]:
filmi['desetletje'] = 10 * (filmi['leto'] // 10)

Nato poglejmo, koliko je bilo filmov posameznega žanra v vsakem desetletju.

In [13]:
zastopanost_zanrov = dolocitve_zanra\
    .join(filmi, on='film')\
    .groupby(['desetletje', 'zanr'])\
    .size()
zastopanost_zanrov

desetletje  zanr
1910        adventure      1
            history        1
            western        1
1920        action         5
            adventure      9
            animation      3
            biography      1
                        ...
2010        mystery      109
            romance      108
            sci_fi        76
            sport         71
            thriller     204
            war           25
            western       28
dtype: int64

Ker smo združevali po več lastnostih, smo dobili stolpec s hierarhičnim indeksom. Tega lahko pretvorimo v matriko z metodo `.unstack`.

In [14]:
matrika_zastopanosti = zastopanost_zanrov.unstack()
matrika_zastopanosti

zanr,action,adventure,animation,biography,comedy,crime,drama,family,...,musical,mystery,romance,sci_fi,sport,thriller,war,western
desetletje,,,,,,,,,,,,,,,,,
1910,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1920,5,9,3,1,19,3,40,9,...,4,4,38,2,5,4,10,9
1930,3,8,2,2,29,27,48,5,...,11,8,27,8,7,13,6,13
1940,6,9,3,4,18,74,124,8,...,8,37,38,2,9,78,13,29
1950,10,24,7,10,27,70,161,20,...,25,22,45,8,6,73,25,25
1960,17,33,7,23,47,27,147,19,...,23,19,41,7,8,32,44,30
1970,21,38,18,19,93,26,148,36,...,34,24,42,10,15,20,33,21
1980,32,50,39,25,83,25,155,41,...,33,10,45,36,12,28,27,9
1990,51,42,37,32,67,42,163,36,...,18,22,64,27,9,45,18,13
2000,77,63,53,55,112,60,282,37,...,36,53,83,40,57,87,35,21
2010,127,116,72,81,213,98,464,112,...,37,109,108,76,71,204,25,28

Ker nas zanima le popularnost žanra v posameznem desetletju, želimo za vsak stolpec izračunati razmerje števila filmov danega žanra glede na število vseh filmov. To storimo s pomočjo metode `.apply`, ki v dani razpredelnici dano funkcijo uporabi na vsaki vrstici ali stolpcu (če dodamo možnost `axis=1`). Če bi želeli funkcijo uporabiti na vsakem elementu stolpca, bi namesto `.apply` uporabili `.map`.

In [15]:
matrika_popularnosti = matrika_zastopanosti.apply(lambda st: st / st.sum(), axis=1)
matrika_popularnosti

zanr,action,adventure,animation,biography,comedy,crime,drama,family,...,musical,mystery,romance,sci_fi,sport,thriller,war,western
desetletje,,,,,,,,,,,,,,,,,
1910,NaN,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333333
1920,0.026178,0.047120,0.015707,0.005236,0.099476,0.015707,0.209424,0.047120,...,0.020942,0.020942,0.198953,0.010471,0.026178,0.020942,0.052356,0.047120
1930,0.011450,0.030534,0.007634,0.007634,0.110687,0.103053,0.183206,0.019084,...,0.041985,0.030534,0.103053,0.030534,0.026718,0.049618,0.022901,0.049618
1940,0.010256,0.015385,0.005128,0.006838,0.030769,0.126496,0.211966,0.013675,...,0.013675,0.063248,0.064957,0.003419,0.015385,0.133333,0.022222,0.049573
1950,0.014837,0.035608,0.010386,0.014837,0.040059,0.103858,0.238872,0.029674,...,0.037092,0.032641,0.066766,0.011869,0.008902,0.108309,0.037092,0.037092
1960,0.027732,0.053834,0.011419,0.037520,0.076672,0.044046,0.239804,0.030995,...,0.037520,0.030995,0.066884,0.011419,0.013051,0.052202,0.071778,0.048940
1970,0.030973,0.056047,0.026549,0.028024,0.137168,0.038348,0.218289,0.053097,...,0.050147,0.035398,0.061947,0.014749,0.022124,0.029499,0.048673,0.030973
1980,0.041885,0.065445,0.051047,0.032723,0.108639,0.032723,0.202880,0.053665,...,0.043194,0.013089,0.058901,0.047120,0.015707,0.036649,0.035340,0.011780
1990,0.065553,0.053985,0.047558,0.041131,0.086118,0.053985,0.209512,0.046272,...,0.023136,0.028278,0.082262,0.034704,0.011568,0.057841,0.023136,0.016710
2000,0.058689,0.048018,0.040396,0.041921,0.085366,0.045732,0.214939,0.028201,...,0.027439,0.040396,0.063262,0.030488,0.043445,0.066311,0.026677,0.016006
2010,0.056798,0.051878,0.032200,0.036225,0.095259,0.043828,0.207513,0.050089,...,0.016547,0.048748,0.048301,0.033989,0.031753,0.091234,0.011181,0.012522

Na koncu vse podatke še narišemo s pomočjo knjižnice `matplotlib`. Če želimo, da se nam graf nariše v posebnem oknu, uporabimo poseben ukaz

    %matplotlib

Če želimo, da se graf nariše kar v datoteki, pa dodamo še `inline`. Pozor, včasih zaradi vključitve knjižnice `matplotlib` stvari začnejo delovati počasneje.

In [16]:
%matplotlib

Using matplotlib backend: MacOSX

In [17]:
matrika_popularnosti.plot(kind='area')

Razpredelnico včasih želimo združiti tudi samo s seboj. Ugotovimo, kateri filmi so družinske komedije.

In [18]:
druzinski = dolocitve_zanra[dolocitve_zanra['zanr'] == 'family']
komedije = dolocitve_zanra[dolocitve_zanra['zanr'] == 'comedy']
print(druzinski)
print(komedije)

         film    zanr
10      12349  family
36      14945  family
52      15400  family
70      15841  family
78      16332  family
87      16646  family
141     18742  family
...       ...     ...
7918  4744132  family
7930  4772974  family
7965  4924686  family
7979  4937208  family
8031  5098548  family
8066  5285050  family
8070  5311546  family

[323 rows x 2 columns]
         film    zanr
8       12349  comedy
26      14205  comedy
28      14429  comedy
35      14945  comedy
38      15022  comedy
41      15163  comedy
49      15324  comedy
...       ...     ...
8018  5061126  comedy
8022  5086104  comedy
8042  5178660  comedy
8056  5225580  comedy
8061  5234316  comedy
8071  5320522  comedy
8089  5341670  comedy

[708 rows x 2 columns]

In [19]:
pd.merge(druzinski, komedije, on='film')

        film  zanr_x  zanr_y
0      12349  family  comedy
1      14945  family  comedy
2      15841  family  comedy
3      16332  family  comedy
4      16646  family  comedy
5      18742  family  comedy
6      19421  family  comedy
..       ...     ...     ...
100  3680638  family  comedy
101  3884666  family  comedy
102  3953738  family  comedy
103  4151346  family  comedy
104  4361348  family  comedy
105  4501276  family  comedy
106  4924686  family  comedy

[107 rows x 3 columns]

In [20]:
druzinske_komedije = pd.merge(druzinski, komedije, on='film').join(filmi, on='film')
druzinske_komedije

,film,zanr_x,zanr_y,naslov,leto,ocena,desetletje
0,12349,family,comedy,The Kid,1921,8.4,1920
1,14945,family,comedy,Girl Shy,1924,8.0,1920
2,15841,family,comedy,The Freshman,1925,7.6,1920
3,16332,family,comedy,Seven Chances,1925,8.0,1920
4,16646,family,comedy,Beverly of Graustark,1926,8.4,1920
5,18742,family,comedy,The Cameraman,1928,8.3,1920
6,19421,family,comedy,"Steamboat Bill, Jr.",1928,8.0,1920
...,...,...,...,...,...,...,...
100,3680638,family,comedy,One Day: A Musical,2014,8.0,2010
101,3884666,family,comedy,Franklin: A Symphony of Pain,2015,8.7,2010
102,3953738,family,comedy,Half of Twenty Two,2014,8.3,2010
103,4151346,family,comedy,Cloudy with a Chance of Sunshine,2015,8.0,2010
104,4361348,family,comedy,Les Transporteur,2015,8.0,2010
105,4501276,family,comedy,Rettet Raffi!,2015,8.3,2010
106,4924686,family,comedy,Normandy Is My Name,2015,8.3,2010