In [2]:
import pandas as pd

In [5]:
filmi = pd.read_csv('csv-datoteke/filmi.csv', index_col='id')

In [7]:
filmi.head()

                     naslov  leto  ocena
id
245429        Spirited Away  2001    8.6
1049413                  Up  2009    8.3
184894        Shanghai Noon  2000    6.6
56172    Lawrence of Arabia  1962    8.4
1631867    Edge of Tomorrow  2014    7.9

In [13]:
filmi[1:4]

                     naslov  leto  ocena
id
1049413                  Up  2009    8.3
184894        Shanghai Noon  2000    6.6
56172    Lawrence of Arabia  1962    8.4

In [15]:
filmi.loc[245429]

naslov    Spirited Away
leto               2001
ocena               8.6
Name: 245429, dtype: object

In [16]:
filmi.iloc[10]

naslov    Touch of Evil
leto               1958
ocena               8.1
Name: 52311, dtype: object

In [21]:
filmi[filmi.leto == 2015]

                               naslov  leto  ocena
id
3863552             Bajrangi Bhaijaan  2015    8.2
1398426        Straight Outta Compton  2015    8.1
3848892                          Baby  2015    8.1
1798684                      Southpaw  2015    7.5
2488496  Star Wars: The Force Awakens  2015    8.5
2096673                    Inside Out  2015    8.3
1663202                  The Revenant  2015    8.3
3460252             The Hateful Eight  2015    8.1
2631186      Baahubali: The Beginning  2015    8.7
3659388                   The Martian  2015    8.1
1392190            Mad Max: Fury Road  2015    8.2
3076658                         Creed  2015    8.1

In [26]:
filmi[(filmi.ocena >= 8.5) & (filmi.leto > 2010)]

                               naslov  leto  ocena
id
816692                   Interstellar  2014    8.6
2199711                  Vishwaroopam  2013    8.8
2488496  Star Wars: The Force Awakens  2015    8.5
2582802                      Whiplash  2014    8.5
2375559                             1  2014    8.7
1821700                          Waar  2013    8.5
1345836         The Dark Knight Rises  2012    8.5
2631186      Baahubali: The Beginning  2015    8.7
1675434              The Intouchables  2011    8.6
1853728              Django Unchained  2012    8.5

In [30]:
filmi[filmi.leto > 2010].sort_values(by=['leto', 'ocena'], ascending=[True, False])

                                               naslov  leto  ocena
id
1675434                              The Intouchables  2011    8.6
1291584                                       Warrior  2011    8.2
1201607  Harry Potter and the Deathly Hallows: Part 2  2011    8.1
1562872                      Zindagi Na Milegi Dobara  2011    8.1
1410063                            The Flowers of War  2011    7.6
1210166                                     Moneyball  2011    7.6
1192628                                         Rango  2011    7.3
1606392                                       Win Win  2011    7.2
1345836                         The Dark Knight Rises  2012    8.5
1853728                              Django Unchained  2012    8.5
1954470                            Gangs of Wasseypur  2012    8.3
1821480                                       Kahaani  2012    8.2
2082197                                        Barfi!  2012    8.2
848228                                   The Avengers  2012    8.1
454876                                     Life of Pi  2012    8.0
1659337               The Perks of Being a Wallflower  2012    8.0
903624              The Hobbit: An Unexpected Journey  2012    7.9
1772341                                Wreck-It Ralph  2012    7.8
2024519                   The Broken Circle Breakdown  2012    7.8
1024648                                          Argo  2012    7.8
1276419                                A Royal Affair  2012    7.6
1707386                           Les Mis&#xE9;rables  2012    7.6
1981677                                 Pitch Perfect  2012    7.2
2199711                                  Vishwaroopam  2013    8.8
1821700                                          Waar  2013    8.5
2356180                            Bhaag Milkha Bhaag  2013    8.3
993846                        The Wolf of Wall Street  2013    8.2
1979320                                          Rush  2013    8.2
1392214                                     Prisoners  2013    8.1
2024544                              12 Years a Slave  2013    8.1
...                                               ...   ...    ...
816692                                   Interstellar  2014    8.6
2582802                                      Whiplash  2014    8.5
3322420                                         Queen  2014    8.4
3390572                                        Haider  2014    8.3
2338151                                            PK  2014    8.3
2267998                                     Gone Girl  2014    8.2
3011894                                    Wild Tales  2014    8.2
2084970                            The Imitation Game  2014    8.1
2278388                      The Grand Budapest Hotel  2014    8.1
2015381                       Guardians of the Galaxy  2014    8.1
1877832                    X-Men: Days of Future Past  2014    8.0
2265171                                    The Raid 2  2014    8.0
1631867                              Edge of Tomorrow  2014    7.9
2245084                                    Big Hero 6  2014    7.9
1646971                    How to Train Your Dragon 2  2014    7.9
1490017                                The Lego Movie  2014    7.8
3169706                                         Pride  2014    7.8
3416742                     What We Do in the Shadows  2014    7.6
2631186                      Baahubali: The Beginning  2015    8.7
2488496                  Star Wars: The Force Awakens  2015    8.5
2096673                                    Inside Out  2015    8.3
1663202                                  The Revenant  2015    8.3
3863552                             Bajrangi Bhaijaan  2015    8.2
1392190                            Mad Max: Fury Road  2015    8.2
1398426                        Straight Outta Compton  2015    8.1
3848892                                          Baby  2015    8.1
3460252                             The Hateful Eight  2015    8.1
3659388                                   The Martian  2015    8.1
3076658                                         Creed  2015    8.1
1798684                                      Southpaw  2015    7.5

[75 rows x 3 columns]

In [34]:
filmi.groupby('leto').mean()

         ocena
leto
1920  8.100000
1921  8.400000
1922  8.000000
1925  8.150000
1926  8.300000
1927  8.350000
1930  8.100000
1931  8.150000
1932  8.000000
1933  8.000000
1934  8.200000
1935  7.900000
1936  8.600000
1937  7.700000
1938  8.000000
1939  8.066667
1940  8.016667
1941  7.966667
1942  8.600000
1944  8.250000
1945  7.700000
1946  8.250000
1947  7.900000
1948  8.100000
1949  8.300000
1950  8.100000
1951  7.800000
1952  8.250000
1953  7.900000
1954  8.425000
...        ...
1986  7.700000
1987  7.957143
1988  8.000000
1989  7.771429
1990  7.920000
1991  8.033333
1992  7.660000
1993  7.975000
1994  8.040000
1995  8.086667
1996  7.925000
1997  7.940000
1998  7.791667
1999  8.014286
2000  7.890909
2001  7.954545
2002  7.883333
2003  7.836842
2004  7.873913
2005  7.786667
2006  7.852632
2007  7.876190
2008  7.950000
2009  7.873684
2010  7.960000
2011  7.837500
2012  7.966667
2013  7.861905
2014  8.126316
2015  8.183333

[91 rows x 1 columns]

In [35]:
filmi.groupby(lambda x: x.leto // 10).mean()

AttributeError: 'int' object has no attribute 'leto'